*{
    margin: 0;
    padding: 0;
}
img{
    height: 90px;
    width: 90px;
    border-radius: 50px;
    border: 5px solid blanchedalmond;
    position: relative;
}
.header{
    border-left: outset brown;
    font-size: 30px;
    color: white;
}
.content{
    color: yellow;
}
svg{
    color:yellow; 
    opacity: 100%;
}
p{
    color: red;
    position: fixed;
    left: 1000px;
    top: 200px;
    font-size:40px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 white,
    0 2px 0 white,
    0 3px 0 white,
    0 4px 0 white,
    0 30px 5px rgb(0,0,0,.1);  
    animation: floating 2s linear infinite; 
    animation-direction: alternate;
    transform: translate(30px,20px) rotate(-20deg);

}
table{
    left: 205px;
    bottom:20px;
    margin: 150px;
    height: 370px;
    width: 20%;
    display: grid;
    place-content: left;
    text-align: left;
    position: relative;
    isolation: isolate;
    color: white;
}
table::after{
    content:'';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: .5;
    background: black;
  
}
#logo{
    width: 50%;
    height: 500px;
    position: absolute;
    top: 6.5%;
    left: 18.5%;
}